

.background{
	color: #1eada5;
	background-color: #002f43;
}
.BorderBox {
	border:5px double #1eada5;
	text-align: center;
	font-family: 'Lora', serif;
	text-decoration: underline;
	/*background-color: #002f43;*/
	background-color: #001923;

}
.center{
	text-align:center;
}

#Please_Be_Centered{
	align-self: center;
	justify-content: center;
	flex: center;
}
.Header{
	margin: 1.5%;
	border:5px double #001923;
}
.HeaderPicture{
	width:88%;
	float: center;
	margin: 2.5%;
}
.jumbotron {
  margin-top: 51px;
  margin-bottom: 0px;
  background-color: #1eada5;
  font-family: 'Lora', serif ;
  border:5px double #001923;
  color:#001923;
  
  }
.Pages{
	margin: 1.5%;
	border:5px double #1eada5;
}
.webPage{
	font-style: italic;
}
.webPagePhoto{
	width:96%;
	padding: 2%;
}
.Wrap{
	min-width: 190px;
	text-align:center;
	flex-wrap: row-reverse wrap;
	justify-content: center;
	align-content: center;

}
body{
	background-color: #ff495d;
}
 
.navbar-inverse .navbar-brand, .navbar-inverse a{
	 color:#1eada5;
	 }

i{
	 color:#ff495d;
	 }

